body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    overflow: hidden;
}

.marker {
  stroke: red;
  transform: translate(-50%, -100%);
  position: relative;
}

.marker.orange {
  stroke: yellow;
}

.popup {
  width: auto;
  position: relative;
  z-index: 1;
}

.popup-content {
  margin: 0 1rem;
}

.entry-form {
  padding: 1rem
}

.entry-form label, 
.entry-form input, 
.entry-form textarea, 
.entry-form button
{
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.entry-form button {
  margin-top: 1.5rem
}

.error {
  color: red;
}

.location-pic {
  width: auto;
  height: 250px;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}
